@import url(./vendor/normalize.css);
@import url(./vendor/fonts.css);
@import url(./blocks/overlay.css);
@import url(./blocks/popup.css);
@import url(./blocks/form.css);
@import url(./blocks/page.css);
@import url(./blocks/header.css);
@import url(./blocks/user.css);
@import url(./blocks/cards.css);
@import url(./blocks/content.css);
@import url(./blocks/footer.css);
@import url(./blocks/fullscreen.css);
@import url(./blocks/auth.css);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
